body{
    min-width: 1280px;
}
header{
    position: relative;
    height: 81px;
    text-align: center;
}
header h1{
    padding: 14px 0 0;
    position: absolute;
    left: 50px;
    top: 0;
}
header h1 a{
    display: block;
    width: 112;
    height: 50;
    color: transparent;
    background: url(sp_com.png) no-repeat -300px 0;

}
header .lnb li {
    display: inline-block;
}
header .lnb li a{
    position: relative;
    display: block;
    height: 81px;
    padding: 0 20px;
    font-size: 17px;
    line-height: 81px;
}
header .lnb li a:hover{
    font-size:large;
    color: blue;
}
header .lnb li a span{
    position: relative;
}
header .lnb li a:hover span::after{
    position:absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    content: "";
    display: block;
    height: 1px;
    background: black;
}
header .spot {
    position: absolute;
    right: 50px;
    top: 0;
    font-size: 14px;
}
header .spot li {
    float: left;
    position: relative;
}

header .spot li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: black;
    transform: translateY(-50%);
}
header .spot li a{
    display: block;
    height: 81;
    padding: 0 10px;
    line-height: 81px;

}
header .spot li:first-child::after{
    display: none;
}
header .spot li:last-child a{
    padding-right: 0;
}

/*슬라이드*/

.slide{
    padding: 0 50px;
    position: relative;
}

.slide .prev, .slide .next{
    display:block;
    position:absolute;
    top: 50%;
    width: 25px;
    height: 47px;
    transform: translateY(-50%);
    background: url(sp_com.png) no-repeat;
    text-indent: -5000px;
    z-index: 10;
}
.slide .prev{
    left: 82px;
    background-position: -128px -60px;
}
.slide .next{
    right: 82px;
    background-position: -158px -60px;
}
.slide .control {
    position: absolute;
    bottom: 55px;
    left: 0px;
    width:100%;
    text-align: center;
}

.slide .control > div{
    display: inline-block;
    position: relative;
    padding: 0 45px 0 0;
}
.slide .control > div > div{
    position:absolute;
    right: 0;
}
.slide .control > div > div a{
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url(sp_com.png) no-repeat;
    margin: 0 0 0 4px;
    opacity: 0.5;
}
.slide .control > div > div a.play{
    background-position: -108px -72px;
}
.slide .control > div > div a.pause{
    background-position: -108px -60px;
}
.slide .control > div > div a.on{
    opacity: 1;
}
.slide .control li.on a{
    background: white;
}
.slide .control ul{
    display: inline-block;
    font-size: 0px;
    position: relative;
    top : 4px;
}
.slide .control li {
    display: inline-block;
    padding: 0 3px;
}
.slide .control li.on a{
    background: white;
}
.slide .control li a {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 3px;
    border: none;
}

/*visual*/

.visual .control a{
    color : transparent;
}

.visual .content > div {
    height: 640px;
}
.visual .content .slide1 {
    background: url(bg_main00.jpg) no-repeat center;
    
}
.visual .content .slide1 a{
    color: white;
    font-size: 32px;
}
.visual .content .slide1 .txt{
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    top: 325px;

}
.visual .content .slide2 {
    background: url(bg_main02.jpg) no-repeat center;
}
.visual .content .slide3 {
    background: url(bg_main03.jpg) no-repeat center;
}
.visual .content .slide4 {
    background: url(bg_main04.jpg) no-repeat center;
}
.visual .content .slide5 {
    background: url(bg_main05.jpg) no-repeat center;
}

/*content*/

.product a{
    display: block;
    color: #001829;
    font-size: 15px;
}
.product a:hover{
    color: #2d5b79;
    font-weight: bold;
}
.product a::before{
    content : "";
    display: block;
    width:64px; /*다양한 아이콘이 있을 시 모두 포함시킬수 있는 크기로 맞추기*/
    height: 52px;
    background: url(sp_com.png) no-repeat;
    margin: 0 0 26px;
}
.product ul{
    
    text-align: center;
    /*padding 순서 top right bottom left*/
    padding: 46px 0 41px 0;
    font-size: 0px;
}
.product li{
    display: inline-block; 
    /*inline-block에 자동 생성되는 공백을 지울려면 부모에 font-size : 0 해야함*/
    text-align: center;
    padding: 0 55px;
}
.product li:nth-child(1) a::before {
    background-position: -3px -118px;
    /*좌표는 해당 아이콘이 그림의 (0, 0)으로 오게 만드는 값으로 넣기*/
}
.product li:nth-child(2) a::before {
    background-position: -75px -118px;
}
.product li:nth-child(3) a::before{
    background-position: -148px -118px;
}
.product li:nth-child(4) a::before{
    background-position: -219px -118px;
}
.product li:nth-child(5) a::before{
    background-position: -292px -118px;
}
.product li:nth-child(6) a::before{
    background-position: -364px -118px;
}
.product li:nth-child(1) a:hover::before{
    background-position: -3px -184px;
}
.product li:nth-child(2) a:hover::before{
    background-position: -75px -184px;
}
.product li:nth-child(3) a:hover::before{
    background-position: -148px -184px;
}
.product li:nth-child(4) a:hover::before{
    background-position: -219px -184px;
}  
.product li:nth-child(5) a:hover::before{
    background-position: -292px -184px;
}
.product li:nth-child(6) a:hover::before{
    background-position: -364px -184px;
}

/*magazin*/
.magazine{
    height: 670px;
    background : #dfd9d1;
    position: relative;
    overflow: hidden;
}
.magazine h2{
    font-size: 28px;
    color: black;
    text-align: center;
    padding: 40px 0 16px;
    line-height: 100%;
}
.magazine p{
    text-align: center;
    font-size: 16px;
    color: black;
    line-height: 100%;
}
.magazine .slide_box > div{
    top: 140px;
    position: absolute;
    left: 50%;
    width: 1180px;
    height: 430px;
    transform: translateX(-50%);
}
.magazine .slide_box > div:nth-child(1){
    margin-left: -1280px;
}
.magazine .slide_box > div:nth-child(3){
    margin-left: 1280px;
}
.magazine .slide_box .left{
    overflow: hidden;
    width: 800px;
    height: 430px;
    float: left;
    position: relative;
}
.magazine .slide_box .left img{
    width: 100%;
}
.magazine .slide_box .left div{
    padding: 47px 20px 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 100%;
    box-sizing: border-box;
}
.magazine .slide_box .left div{
    color: white;
}
.magazine .slide_box .left div p{
    color: white;
    font-size: 12;
    text-align: left;
    padding: 20px 0 0 0;
    line-height: 20px;
}
.magazine .slide_box .left div h3{
    
    font-size: 17px;
    line-height: 32px;
    padding: 0 0 13px 0;
}
.magazine .slide_box .left div span{
    padding: 0 0 13px 0;
    font-size: 20px;
}
.magazine .slide_box .left div a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 160px;
    height: 45px;
    border: white solid 1px;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 45px;
}
.magazine .slide_box .right{
    float: right;
    width: 380px;
    height: 430px;
    background: white;
    box-sizing: border-box;
    padding: 20px;
}
.magazine .slide_box .right li {
    padding: 0 0 20 0;
}
.magazine .slide_box .right li a{
    display: table;
    width: 100%;
}
.magazine .slide_box .right li div{
    display: table-cell;
    position: relative;
    padding: 0 0 0 100px;
    font-size: 16px;
    height: 82px;
    vertical-align: middle;
}
.magazine .slide_box .right li a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    object-fit: cover;
    
}
.magazine .slide_box .right li a strong{
    font-size: 13px;
    color:black
}
.magazine.slide .control {
    bottom: 80px;
}
.magazine.slide .prev{
    left: 50%;
    margin: 26px 0 0 -640px;
}
.magazine.slide .next{
    right: 50%;
    margin: 26px -640px 0 0;
}

/*banner*?*/

.notice > div {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    height: 320px;
}
.notice > div .top > ul{
    float: left;
    padding: 0 20 0 0;
}
.notice > div .top > ul a:hover{
    background: rgba(45, 91, 121, 0.5);
    transition: all 0.5s;
}
.notice > div .top > ul a span{
    display: block;
    position: relative;
    opacity: 0;
    top: 10px;
    transition: all 0.5s;
    font-weight: normal;
    font-size: 15px;
    padding: 20px 0 0;
}
.notice > div .top > ul a{
    display: block;
    width: 280px;
    height: 280px;
    padding: 150px 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.notice > div .top > ul a:hover span{
    top: 0; /*애니메이션에는 동작만 입력할 것*/
    opacity: 1;
}
.notice > div .top > ul li
{
    float: left;
}
.notice > div .top > ul li:nth-child(1){
    background: url(bg_key_link03.jpg) no-repeat;
    background-size: contain;
}
/*
.notice > div .top > ul li:nth-child(2){
    background: url(notice_img.png) no-repeat;
    background-size: 100% 100%;

}
.notice > div .top > ul li:nth-child(3){
    background: url(news_img.png) no-repeat;
    background-size: 100% 100%;
}

.notice > div .top > ul li:nth-child(3) a{
    color: black;
}
*/
.notice > div .top > div {
    position: relative;
    float: left;
    width: 280px;
    height: 280px;
    background: #f2f0ed;
    box-sizing: border-box;
    margin: 0 20 0 0;
    padding: 36px 0 0;
}
.notice > div .top > .search {
    
    padding: 36px 20px 0;
    
}
.notice > div .top > div div{
    padding: 0 0 10px;
}
.notice > div .top > .search h2{
    padding: 0 0 29 0;
}
.notice > div .top > div h2{
    height: 10%;
    line-height: 10px;
    font-size: 24px;
    text-align: center;
    color: #2d5b79;
}
.notice > div .top > .search select,
.notice > div .top > .search input
 {
    width: 100%;
    height: 45px;
    border: none;
    text-indent: 20px;
}
.notice > div .top > .search input::-webkit-input-placeholder {
    color : 949394;
    font-size: 14px;
    
}
.notice > div .top > .search a{
    margin: 20 0 0 0;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-size: 16px;
    background: #2d5b79;
}
.notice > div .top > .article > a{
    position: absolute;
    right: 23px;
    top: 24px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color:transparent;
    background: url(sp_com.png) -196px -60px white no-repeat;
}
/*
.notice > div .top > .article > div > a {
    display: block;
    width: 100%;
    border-top: white solid 2px;
    border-width: 30%;
    font-size: 16px;
    
}
*/
.notice > div .top > .article > div > a > span {
    display: block;
    font-size: 16px;
    margin: 10 22 0 22;
}

.notice > div .top > .article > div > a p {
    margin: 20px 0 0 0;
    font-size: 13px;
    color:gray;
}
.notice > div .top > .article > .ar-content {
    display: block;
    height: 90%;
}
.notice > div .top > .article > .ar-content > a{
    display: block;
    width: 100%;
    height: 45%;
    border-top: white solid 2px;
}

/*footer*/
footer .top{
    background: #383f43;

}
footer .top > div {
    width: 1180px;
    margin: 0 auto;
    padding: 13px 0;
}
footer .top > div ul{
    float:left;
}
footer .top > div ul li{
    padding: 0 19px 0 0;
    float:left;
    position: relative;
}
footer .top > div ul li::after{
    content: "";
    width:1px;
    height: 8px;
    background: #70767a;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -4px;
}
footer .top > div ul li a{
    color: white;
    font-size: 14px;
    line-height: 60px;
}
footer .top > div ul li:last-child::after{
    display: none;
}
footer .top > div div{
    float:right;
}
footer .top > div div p{
    display: inline-block;
    width: 290px;
    height: 60px;
    background: #2a3039;
    color:white;
    text-align: center;
    font-size: 12px;
    letter-spacing:-2px;
    margin: 0 9 0 0;
}
footer .top > div div span{
    display: inline-block;
    font-size: 14px;
    margin: 7 0 7 0;
}
footer .top > div div p span strong{
    margin-right: 15px;
}
footer .top > div div select{
    padding: 0 0 0 17;
    width: 200px;
    height: 59px;
    color: #191919;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    vertical-align: 10px;
}
footer .btm{
    padding: 40px 0 44px;
    background: #4c5459;
    text-align: center;
}
footer .btm p {
    display: inline-block;
    width: 131;
    height: 51;
    background: url(sp_com.png) no-repeat -150px 0;
    color: transparent;
}
footer .btm ul{
    padding: 32 0 14;
}
footer .btm ul li{
    /*우측정렬 좌측여백*/
    /*좌측정렬 우측여백*/
    display: inline-block;
    position: relative;
    color: white;
    font-size: 14px;
    padding: 0 10 0 10;
}
footer .btm ul li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    background: #70767a;
    right: 0;
    top: 50%;
    margin-top: -4px;
}
footer .btm ul li:last-child::after{
    display: none;
}
footer .btm address{
    font-size: 14px;
    color: white;
    
}